{% extends "coin_app/coin_app_base.html" %}
{% load cmc_logger %}
{% block body_block %}
    <h1>Welcome to a Coin List</h1>
    <br><br>
    <table style="width:100%" class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price USD</th>
                <th>Change 24h</th>
            </tr>
        </thead>
        {% for coin in coin_list %}
            <tr>
                <td><a href="{% url 'coin_app:detail' coin.id %}"><img src="{{coin.coin_id|get_png_by_id:'32x32'}}" alt="">  {{ coin.coin_id|get_json_by_id:'name'}}</a></td>
                <td>{{ coin.coin_id|get_json_by_id:'price_usd'}}$</td>
                <td>{{ coin.coin_id|get_json_by_id:'percent_change_24h'}}%</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
