{% extends "coin_app/coin_app_base.html" %}
{% block body_block %}

    <h1>
        {% if not form.instance.pk %}
            Create Coin
        {% else %}
            Update Coin
        {% endif %}
    </h1>

    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
            <a class="btn btn-secondary" href="{% url 'coin_app:list' %}">Cancel</a>
            <input type="submit" class="btn btn-primary" name="" value="Submit">
        </div>
    </form>

{% endblock %}
