.alignright {
    text-align: right;
}

.alignleft {
    text-align: left;
    margin-left: 0;
}

.aligncenter {
    text-align: center;
}

.img_right {
    float: right;
}

a, a:hover {
    text-decoration:none;
    color: inherit;
}
